html, body {
    width: 100%;
    height: 100%;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Lobster', cursive;
}
.page-content {
    position: relative;
    width: 100%;
    height: 100%;

}

.page-background {
    position: relative;
    width: 100%;
    height: 100%;

    background-image: url("../img/background-main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.page-background-mobile {
    display: none;
}

.bar {
    display: flex;
    flex-direction : row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.60);
}

.bar-top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}


.bar-bottom {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
}

.bar-mobile {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.80);
    padding-bottom:10px;
}

.horizontal {
  list-style: none;
  padding: 0;
  margin: 0;
}
.horizontal li {
  display: inline-block;
}

.space-between {
    display: flex;
    flex-direction : row;
    justify-content: space-between;
}

.content-to-right{
    display: flex;
    flex-direction : row;
    justify-content: flex-end;
}


.content-list {
    display:flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
}

.logo {
    padding: 20px;
}
.bar-bottom .content-list {
    align-items: center;
    width: 100%;
    max-width: 1024px;
    padding: 10px 0;

}
.bar .content-list h2,
.bar .content-list .mail a,
.bar .content-list .phone,
.bar .content-list .facebook {
    font-size: 32px;
    margin: 0px;
    padding: 0px 10px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.bar .content-list .mail a:hover,
.bar .content-list .facebook a:hover {
    color: #772a00;
    text-decoration: underline;
}

.bar .content-list .facebook a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 32px;
}
.bar .content-list .facebook img {
    height:32px;
}

.fb-iframe {
    padding: 0px 30px;
}

@media all and (max-width: 1024px) {
    .logo img {
        width: 400px;
    }

    .fb-iframe {
        padding: 0 0 0 20px;
    }

    .bar .content-list h2,
    .bar .content-list .mail a,
    .bar .content-list .phone {
        font-size: 26px;
    }
}


@media all and (max-width: 414px) {

    .page-content {

    }

    .page-background {
        display:none;
        background-size: auto 100%;
    }
    .page-background-mobile {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .page-background-mobile img {
        height: 100%;
        transform: translate(0px);
        /*transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);*/

        animation-name: move-page-background;
        animation-iteration-count: 1;
        animation-duration: 45s;
        animation-timing-function: linear;
    }

    .bar-top {
        display:none;
    }
    .bar-bottom {
        display:none;
    }

    .bar-mobile {
        bottom: 5%;
        display: flex;

    }
    .bar-mobile .content-list {
        flex-direction : column;
        justify-content: center;
    }


    .logo img {
        width: 300px;
    }

    .bar-mobile .content-list h2,
    .bar-mobile .content-list .mail a,
    .bar-mobile .content-list .phone,
    .bar-mobile .content-list .facebook
     {
        font-size: 22px;
    }
    .bar-mobile .content-list li > * {
        text-align: center;
    }

    .bar .content-list .facebook a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 22px;
    }
    .bar .content-list .facebook img {
        height:30px;
    }
}

@keyframes move-page-background {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(-765px);
  }
  100% {
    transform: translate(0px);
  }
}